.grav-c-card {
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  background-color: #f9f9f9;
  border: 1px solid #d6d6d6;

  &__title {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  &__body {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .grav-c-form-group:first-of-type {
    margin-top: 0;
  }
}

.mom-c-votes {
  text-align: right;
}

.grav-c-button-link {
  padding-left: 0;
  padding-right: 0;
  border: initial;
  text-align: initial;
  text-decoration: underline; 
  background-color: initial;

  &:hover {
    background-color: initial;
  }
}
