/**
  Import all SASS partials that make up Gravity's UI library
  Partials are organised as per Harry Roberts' ITCSS architecture.
  See: https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/
*/

// === Settings layer ===
@import 'gravity-ui-web/00-settings/settings.all';

// === Tools layer ===
@import 'gravity-ui-web/01-tools/tools.all';

// === Generic layer ===
// @import 'normalize';
@import 'gravity-ui-web/02-generic/generic.all';

// === Elements layer ===
@import 'gravity-ui-web/03-elements/elements.all';

// === Objects layer ===
@import 'gravity-ui-web/04-objects/objects.all';

// === Components layer ===
@import 'gravity-ui-web/05-components/components.all';

// _modal.scss
.card-modal {
  position: absolute;
  top: 50%;
  left: 30%;
  right: auto;
  bottom: auto;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 50%;
}

// _status-bar.scss
.grav-c-status-bar {
  display: flex;
  padding: $grav-sp-m;
  background-color: #fdfdfd;
  border-bottom: 1px solid #c9c9c9;

  > h2 {
    font-size: var(--grav-fs-base);
  }

  &__item {
    margin: 0 0 0 $grav-sp-m;

    > * {
      margin: 0;
    }

    > ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      list-style-type: none;

      > li {
        margin: 0 $grav-sp-xs 0;
      }
    }
  }

  > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// _card.scss
.grav-c-card {
  padding: 1rem;
  margin-top: 0;
  margin-bottom: $grav-sp-s;
  background-color: var(--grav-co-grp-a-neutral);
  border: 1px solid #d6d6d6;

  &__title {
    margin-top: 0;
    margin-bottom: $grav-sp-m;
  }

  &__body {
    margin-top: 0;
    margin-bottom: $grav-sp-m;
    cursor: pointer;
  }

  //TODO: replace with Gravity icon
  &__reveal-icon {
    display: none;
  }

  &:hover & {
    &__reveal-icon {
      display: inline;
    }
  }

  .grav-c-form-group:first-of-type {
    margin-top: 0;
  }

}

.mom-c-votes {
  text-align: right;
}

// _button-link.scss
.grav-c-button-link {
  padding-left: 0;
  padding-right: 0;
  border: initial;
  text-align: initial;
  text-decoration: underline; 
  background-color: initial;

  &:hover {
    background-color: initial;
  }
}

// _grav-c-avatar.scss

.grav-c-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 3rem;
  border-radius: 50%;
  background-color: #008d7c;
  color: var(--grav-co-grp-a-neutral);
  font-size: 1.25rem;
}

//Temporary Gravity hacks
$grav-page-heading-logo-width: 250px;
$grav-page-heading-trigger-breakpoint: grav-breakpoint(medium);

// Note: The Page Header always spans the full width of the viewport. This
// is in case we want to give it any kind of full-bleed background styling.
// The child elements within therefore need to respect the maximum content
// width ($grav-page-content-max-width) themselves, where necessary.
body header {
  > div {
    display: flex;
    flex-wrap: wrap;
    padding-top: $grav-sp-m;
    padding-bottom: $grav-sp-m;
    align-items: center;
    justify-content: space-between;
    
    padding: $grav-sp-m;
    background-color: var(--grav-co-grp-b-control);

    @media (min-width: $grav-page-heading-trigger-breakpoint) {
      padding-top: 0;
    }
  }

  .grav-c-logo {
    display: block;
    max-height: 33px; // Otherwise IE11 makes it 150px tall :-(

    @media (min-width: $grav-page-heading-trigger-breakpoint) {
      width: 100%;
    }
  }

  .grav-c-toggle-menu {
    flex-shrink: 0;
    color: var(--grav-co-grp-a-neutral);

    @media (min-width: $grav-page-heading-trigger-breakpoint) {
      display: none;
    }

    /* stylelint-disable-next-line selector-max-compound-selectors */
    &[aria-pressed] ~ .grav-c-nav-menu,
    &[aria-pressed='false'] ~ .grav-c-nav-menu {
      @include grav-transition(max-height, $grav-tr-speed-slow);
      max-height: 0;
      overflow: hidden;

      @media (min-width: $grav-page-heading-trigger-breakpoint) { // stylelint-disable-line max-nesting-depth
        display: flex;
        max-height: none;
        overflow: visible;
      }
    }

    /* stylelint-disable-next-line selector-max-compound-selectors */
    &[aria-pressed='true'] ~ .grav-c-nav-menu {
      max-height: 100vh;

      @media (min-width: $grav-page-heading-trigger-breakpoint) { // stylelint-disable-line max-nesting-depth
        display: flex;
      }
    }
  }

  .grav-c-nav-menu {
    width: 100%;
    margin-top: $grav-sp-s;

    @media (min-width: $grav-page-heading-trigger-breakpoint) {
      width: auto;
      margin-top: $grav-sp-m;
    }
  }

  .grav-c-nav-link[href],
  .grav-c-nav-link[href]:visited {
    color: var(--grav-co-grp-a-neutral);
  }
}


.grav-c-page-header__logo {
  width: 70%; // 2/3 ish of the space

  a {
    display: block;
    color: white;

    &:visited {
      // Make visited logo link use some color as non-visited one
      @include grav-color-grp-b-apply('color', 'control', true);
      color: white;
    }

    &:hover,
    &:focus {
      // Need to re-instate the hover/focus color since the previous block
      // that overrides the usual visited color will otherwise still apply.
      // This is because these selectors have a higher specificity that
      // the ones that apply the basic <a> styles.
      @include grav-color-grp-b-apply('color', 'control-emphasis', true);
      color: white;
    }
  }

  @media (min-width: $grav-page-heading-trigger-breakpoint) {
    max-width: 250px;
    margin: $grav-sp-m $grav-sp-m 0 0;
    flex-shrink: 0;
  }
}

// M-o-M Components
// mom-container.scss
.mom-container {
  margin: 0;
}

// mom-board.scss
.mom-board {
  margin: 0;
  background-color: #f1f1f1;

  > * {
    margin: 0;
  }

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 100vh;

  &__column {
    padding: 1rem 0.5rem;
    border-right: 1px #c9c9c9 dashed;

    &:last-child {
      border-right: none;
    }
  }

  &__column-title {
    font-size: var(--grav-fs-plus-1);
    text-align: center;
    margin-bottom: 1rem;
  }
}

// === Utilities layer ===
@import 'gravity-ui-web/06-utilities/utilities.all';
